@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans';
    user-select: none;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7dd3fc;
}

h1{
    color: #fff;
    font-size: 4rem;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-container{
    text-align: center;
    margin: 50px;
}


.btn{
    color: #fff;
    background-color: crimson;
    padding: 20px 27px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.4);

}

.btn:hover{

    background-color: #60a5fa;
    transform: rotate(5deg);
}

.pokemon.active{
    display: block;
}

.pokemon{
    display: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid #60a5fa;
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.4);

}

@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 crimson;
    }
    100%{
        box-shadow: 0 0 25px crimson;
    }
}

.pokemon:hover{
    transform: scale(1.3);
    border: 5px crimson solid;
    animation: animated-border 5s ease infinite;
}

.pokemon.gyarados{
    height: 200px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

li{
    padding: 35px;
    /* border: 1px solid orange; */
}

.wartortle{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
    position: relative;
    transition: all 0.3s ease;
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.4);


}

.wartortle.active{
    display: block;
    position: absolute;
    bottom: 5%;
    left: 25%;
    text-align: center;
    transform: scale(1.2);
    border: 2px dashed red;
}

.cloyster{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
    position: relative;
    transition: all 0.3s ease;
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.4);

}

.cloyster.active{
    display: block;
    position: absolute;
    bottom: 5%;
    right: 39%;
    text-align: center;
    transform: scale(1.2);
    border: 2px dashed red;

}

.gyarados{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
    position: relative;
    transition: all 0.3s ease;
    box-shadow:  6px 6px 8px rgba(0, 0, 0, 0.4);

}
.gyarados.active{
    display: block;
    position: absolute;
    bottom: 5%;
    right: 25%;
    text-align: center;
    transform: scale(1.2);
    border: 2px dashed red;
}

p{
    color: #9ca3af;
}


